.images {
  padding-left: 25px;
}
.images img {
  padding-left: 15px;
}
#section0 {
  background: url(../Movie_Images/bondgroup.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#section1 {
  background: url(../Actors/UltBond.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#section2 {
  background: url(../Actors/bondstats.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#section3 {
  background: url(../Actors/BondGirlG.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#section4 {
  background: url(../Actors/007.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Carousel */
body{
  background-color: #f1f6ff;
}
#news-slider{
    margin-top: -13px;
}
.post-slide{
    width: 100%;
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
}
.post-slide .post-img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: -12px 15px 8px 15px;
    margin-left: -10px;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
    transform: scale(1,1);
    transition:transform 0.2s linear;
}
.post-slide:hover .post-img img{
    transform: scale(1.1,1.1);
}
.post-slide .over-layer{
    width:100%;
    height:auto;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%);
    transition:all 0.50s linear;
}
.post-slide:hover .over-layer{
    opacity:1;
    text-decoration:none;
}
.post-slide .over-layer i{
    position: relative;
    top:45%;
    text-align:center;
    display: block;
    color:#fff;
    font-size:25px;
}
.col-md-12 {
    max-height: 400px;
}
.owl-controls .owl-buttons{
    text-align:center;
    margin-top:25px;
}
.owl-controls .owl-buttons .owl-prev{
    background: #fff;
    position: absolute;
    top:10%;
    left:5px;
    padding: 0 18px 0 15px;
    border-radius: 20px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-next{
    background: #fff;
    position: absolute;
    top:15%;
    right: 5px;
    padding: 0 15px 0 18px;
    border-radius: 20px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after{
    content:"\f104";
    font-family: FontAwesome;
    color: #333;
    font-size:30px;
}
.owl-controls .owl-buttons .owl-next:after{
    content:"\f105";
}
@media only screen and (max-width:1280px) {
    .post-slide .post-content{
        padding: 0px 15px 25px 15px;
    }
}

/* Poll */
ul {
  display: inline-block;
}
form {
  display: inline-block;
}
.poll {
  display: inline-block;
}
.poll-body {
  display: inline;
}
li {
  width: 200px;
  align-content: center;
}


.secDiv {
  width: 140px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  #chart {
    background-color: white;
  }
  .chart-container {
    background-color: white;
    position: relative;
    width: 40vw;
    height: 20vw;
    margin: auto;
  }
  
  .poll {
    background-color:transparent;
    color: #333;
    width: 30vw;
    margin: 1.75rem auto 1rem auto;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  .poll-heading {
    padding: 1rem;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, transparent, rgb(194, 177, 23), transparent) 1;
  }
  .poll-body {
    height: 60%;
    padding: 1rem;
  }
  .poll-body ul {
    list-style-type: none;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    display:inline-flex;
    align-content: center;
  }
  .poll-body li label {
    display: inline-block;
    width: 80%;
    padding: 0.5rem;
    align-items: center;
  }
  .poll-body li label:hover {
    background-color: #eee;
  }
  .poll-body li:first-child label {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;  
  }
  .poll-body li:last-child label {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;  
  }
  .poll-body li label input[type="radio"] {
    margin-right: 0.5rem;
  }
  .poll-body li label input[type="radio"]:checked + span {
    font-weight: bold;
  }
  .poll-footer {
    height: 60%;
    padding-bottom: 1rem;
    text-align: center;
  }
  .poll-footer button {
    background-color: #777;
    color: #fff;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    outline: none;
    width: 7rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  .poll-footer button:hover {
    background-color: #333;
  }
  .poll-footer button:active {
    background-color: #111;
  }
  
  @media(max-width: 1200px) {
    .chart-container {
      width: 65vw;
      height: 32.5vw;
    }
    .poll {
      width: 50%;
    }
  }
  @media(max-width: 992px) {
    .chart-container {
      width: 75vw;
      height: 37.5vw;
    }
    .poll {
      width: 60%;
    }
  }
  @media(max-width:767px) {
    html {
      font-size: 14px;
    }
    h1 {
      font-size: 1.75rem;
    }
    .chart-container {
      width: 95vw;
      height: 47.5vw;
    }
    .poll {
      width: 80%;
    }
  }