<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>James Bond Bootcamp</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='css/d3Style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/fullPage.js-3.1.2/dist/fullpage.css')}}">
<!-- Carousel & Poll html links -->
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css'>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>

<body>


  <div id="fullpage">

    <div class="section active" id="section0">
      <div class="container">
        <h1 style="color: white;">James Bond Data Analytics</h1>
        <!-- <div class="col-xs-12  col-md-9">
          <div class="card text-center">
            <div class="card-header">
            </div>
            <div class="card-body"> -->
              <!-- Carousel -->
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div id="news-slider" class="owl-carousel">
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/1.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/2.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/3.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/4.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/5.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>

                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/6.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/7.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/8.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/9.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/10.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/10.5.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/11.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/12.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/13.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/14.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/15.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/16.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/17.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/18.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/19.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/20.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/21.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/22.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/23.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/24.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/25.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="post-slide">
                        <div class="post-img">
                          <img src="{{url_for('static', filename='Movie_Images/26.jpg')}}">
                          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="card-footer text-muted">
            </div>
          </div>
        </div>
      </div> -->

    </div>
    <div class="section" id="section1">
      <div class="container">
        <!-- <div class="slide ">

          <h1>anything on this slide?</h1>
        </div> -->
        <div class="slide active">
          <h1>Who is the ultimate Bond?  Let the data decide.</h1>
            <div class='tableauPlaceholder' id='viz1637060525615' style='position: relative'>
              <noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;bo&#47;bonds_worksheet&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript>
              <object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> 
                <param name='site_root' value='' /><param name='name' value='bonds_worksheet&#47;Dashboard1' />
                <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;bo&#47;bonds_worksheet&#47;Dashboard1&#47;1.png' /> 
                <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' /><param name='display_count' value='yes' />
                <param name='language' value='en-US' /></object></div> 
                <script type='text/javascript'> var divElement = document.getElementById('viz1637060525615'); var vizElement = divElement.getElementsByTagName('object')[0]; 
                  if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                  else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';}
                  else { vizElement.style.width='100%';vizElement.style.height='727px';} 
                  var scriptElement = document.createElement('script');  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);  </script>
        <div class="slide">
          <h1>James Bond</h1>
          <div class='tableauPlaceholder' id='viz1637060718212' style='position: relative'>
            <noscript><a href='#'><img alt='Dashboard 2 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;bo&#47;bonds_worksheet&#47;Dashboard2&#47;1_rss.png' style='border: none' /></a></noscript>
            <object class='tableauViz'  style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
              <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
              <param name='name' value='bonds_worksheet&#47;Dashboard2' /><param name='tabs' value='no' />
              <param name='toolbar' value='yes' />
              <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;bo&#47;bonds_worksheet&#47;Dashboard2&#47;1.png' /> <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div> 
              <script type='text/javascript'>  var divElement = document.getElementById('viz1637060718212'); var vizElement = divElement.getElementsByTagName('object')[0]; 
                if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                else { vizElement.style.width='100%';vizElement.style.height='727px';}  
                var scriptElement = document.createElement('script');  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';  vizElement.parentNode.insertBefore(scriptElement, vizElement); </script>
        </div>
        <div class="slide">
          <h1>Comparison Rankings</h1>
          <div class='tableauPlaceholder' id='viz1637060837781' style='position: relative'><noscript><a href='#'><img alt='Dashboard 3 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;bo&#47;bonds_worksheet&#47;Dashboard3&#47;1_rss.png' style='border: none' /></a></noscript>
            <object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
               <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
               <param name='name' value='bonds_worksheet&#47;Dashboard3' /><param name='tabs' value='no' />
               <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;bo&#47;bonds_worksheet&#47;Dashboard3&#47;1.png' /> <param name='animate_transition' value='yes' />
               <param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
               <param name='display_overlay' value='yes' /><param name='display_count' value='yes' />
               <param name='language' value='en-US' /></object></div>
               <script type='text/javascript'> var divElement = document.getElementById('viz1637060837781'); var vizElement = divElement.getElementsByTagName('object')[0];
                 if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                 else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                 else { vizElement.style.width='100%';vizElement.style.height='727px';}  
                 var scriptElement = document.createElement('script');  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';  vizElement.parentNode.insertBefore(scriptElement, vizElement); </script>
        </div>
      </div>

      </div>
    </div>
    <div class="section" id="section2">
      <div class="container">
        <div class="slide active">
          <h1 style="color: white;">James Bond Movie overall Stats</h1>
                  <!-- Tableau Visualisation on James Bond Movie -->
            <div class='tableauPlaceholder' id='viz1637029493924' style='position: relative'>
              <noscript>
                <a href='#'>
                  <img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ja&#47;JamesBondMovieVisualisation&#47;Dashboard1&#47;1_rss.png' style='border: none' />
                </a>
              </noscript>
              <object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' /> 
                <param name='site_root' value='' />
                <param name='name' value='JamesBondMovieVisualisation&#47;Dashboard1' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ja&#47;JamesBondMovieVisualisation&#47;Dashboard1&#47;1.png' /> 
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en-GB' />
                <param name='filter' value='publish=yes' />
              </object>
            </div>                
            <script type='text/javascript'>                    
              var divElement = document.getElementById('viz1637029493924');                    
              var vizElement = divElement.getElementsByTagName('object')[0];                    
                if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                else { vizElement.style.width='100%';vizElement.style.height='1477px';}                     
              var scriptElement = document.createElement('script');                    
              scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
              vizElement.parentNode.insertBefore(scriptElement, vizElement);                
            </script>
        <!-- Tableau Visualisation on James Bond Movie -->
        </div>
      </div>
    </div>
    
    <div class="section" id="section3">
      <div class="container">
        <h1>Don't forget the Bond Girls</h1>
        <div class="row">
          <div class="col-xs-12  col-md-9">
            <div id="scatter">
              <!-- append bond girl chart here. -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="section4">
      <div class="container">
      <!-- Poll -->

        <!--<div class="chart-container" style="align-content: center; margin-top: 50px; height: 300px; width: 600px;">-->
        <!--<canvas id="chart"></canvas>--> <!--<canvas id="chart" width="300" height="150"></canvas> -->
          </div>
            <form id="pollForm">
              <div class="poll" style="background-color: white; width: 1500px; height: 90%; margin-left: 150px;">
                <div class="poll-heading" style="width: 1500px;">
                  <h3 class="poll-title" style="text-align: center;">Vote for the next James Bond Actor</h3>
                </div>
                <div class="poll-body">
                  <ul style="width:max-content;">
                    <li>
                      <div class='secDiv'><img src="{{url_for('static', filename='Actors/RichardMadden.jpg')}}"style="height: 200px;"/>
                      <label><input type="radio" name="pollOptions" value="Richard Madden"><br/><span>Richard Madden</span></label>
                      </div>
                    </li>
                    <li>
                      <div class='secDiv'><img src="{{url_for('static', filename='Actors/TomHardy.jpeg')}}"style="height: 200px;"/>
                      <label><input type="radio" name="pollOptions" value="Tom Hardy"><br/><span>Tom Hardy</span></label>
                      </div>
                    </li>
                    <li>
                      <div class='secDiv'><img src="{{url_for('static', filename='Actors/LashanaLynch.jpg')}}"style="height: 200px;"/>
                      <label><input type="radio" name="pollOptions" value="Lashana Lynch"><br/><span>Lashana Lynch</span></label>
                      </div>
                    </li>
                    <li>
                      <div class='secDiv'><img src="{{url_for('static', filename='Actors/HenryCavill.jpeg')}}"style="height: 200px;"/>
                      <label><input type="radio" name="pollOptions" value="Henry Cavill"><br/><span>Henry Cavill</span></label>
                      </div>
                    </li>
                    <li>
                      <div class='secDiv'><img src="{{url_for('static', filename='Actors/Rege.jpg')}}"style="height: 200px;"/>
                      <label><input type="radio" name="pollOptions" value="Regé-Jean Page"><br/><span>Regé-Jean Page</span></label>
                      </div>
                    </li>
                    <li>
                      <div class='secDiv'><img src="{{url_for('static', filename='Actors/JamesNorton.jpeg')}}"style="height: 200px;"/>
                      <label><input type="radio" name="pollOptions" value="James Norton"><br/><span>James Norton</span></label>
                      </div>
                    </li>
                    <li>
                      <div class='secDiv'><img src="{{url_for('static', filename='Actors/IdrisElba.jpg')}}"style="height: 200px;"/>
                      <label><input type="radio" name="pollOptions" value="Idris Elba"><br/><span>Idris Elba</span></label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="poll-footer">
                  <button type="submit">Vote</button>
                </div>
              </div>
          </form>
        </div>
        </div>
  </div>

  <!-- Footer-->
  <div id="footer">
    <p></p>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
  <!-- added for fullpage-->
  <script type="text/javascript" src="{{url_for('static', filename='js/fullPage.js-3.1.2/dist/fullpage.js')}}"></script>
  <script type="text/javascript">
    var myFullpage = new fullpage('#fullpage', {
      sectionsColor: ['#f2f2f2', '#4BBFC3', '#7BAABE', 'whitesmoke', '#1f262a']
    });
  </script>
  <!-- Carousel & Poll JS -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script><script  src="{{url_for('static', filename='js/script2.js')}}"></script>
  <script src='https://code.jquery.com/jquery-1.12.0.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js'></script><script  src="{{url_for('static', filename='js/script.js')}}"></script>


</body>

</html>
