<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>James Bond Bootcamp</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='css/d3Style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/fullPage.js-3.1.2/dist/fullpage.css')}}">
<!-- Carousel & Poll html links -->
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css'>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>

<body>


  <div id="fullpage">
    <div class="section" id="section4">
      <div class="container">
      <!-- Poll -->

        <!-- Poll -->

        <div class="chart-container" style="align-content: center; margin-top: 50px; height: 600px; width: 1100px;">
          <canvas id="chart"></canvas> <!-- <canvas id="chart" width="300" height="150"></canvas> -->
          <!-- <label>
            <div class='images' style="align-content: center; width: 1100px;">
              <img src="{{url_for('static', filename='Actors/RichardMadden.jpg')}}"style="height: 200px;"/>
              <img src="{{url_for('static', filename='Actors/TomHardy.jepg')}}"style="height: 200px;"/>
              <img src="{{url_for('static', filename='Actors/LashanaLynch.jpg')}}"style="height: 200px;"/>
              <img src="{{url_for('static', filename='Actors/HenryCavill.jpeg')}}"style="height: 200px;"/>
              <img src="{{url_for('static', filename='Actors/Rege.jpg')}}"style="height: 200px;"/>
              <img src="{{url_for('static', filename='Actors/JamesNorton.jpeg')}}"style="height: 200px;"/>
              <img src="{{url_for('static', filename='Actors/IdrisElba.jpg')}}"style="height: 200px;"/> -->
          <!-- </label> -->
            </div>
            <!-- added by Kevin -->
            <!-- <div style="margin: 0; position: absolute; top: 87%; left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);">
            <button type="button" style='background-color: #554545; color: white'><a href="/">Go back to Homepage</a></button>
            </div> -->
            <div class="poll-footer">
              <a href="/"><button type="submit">Return to Home</button></a>
            </div>
            <!-- added by Kevin -->
              <form id="pollForm">
                
                </div> 
            </form>
  </div>

  <!-- Footer-->
  <div id="footer">
    <p></p>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
  <!-- added for fullpage-->
  <script type="text/javascript" src="{{url_for('static', filename='js/fullPage.js-3.1.2/dist/fullpage.js')}}"></script>
  <script type="text/javascript">
    var myFullpage = new fullpage('#fullpage', {
      sectionsColor: ['#f2f2f2', '#4BBFC3', '#7BAABE', 'whitesmoke', '#1f262a']
    });
  </script>
  <!-- Carousel & Poll JS -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script><script  src="{{url_for('static', filename='js/script2.js')}}"></script>
  <script src='https://code.jquery.com/jquery-1.12.0.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js'></script><script  src="{{url_for('static', filename='js/script.js')}}"></script>


</body>

</html>
